@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import "tailwindcss";

body {
  font-family: "VT323", monospace;
  font-size: 1.5rem;
  letter-spacing: 0.05em;
  color: #00ff41;
  text-shadow:
    0 0 6px rgba(0, 255, 65, 0.8),
    0 0 20px rgba(0, 255, 65, 0.5),
    0 0 40px rgba(0, 255, 65, 0.25),
    0 0 80px rgba(0, 255, 65, 0.1);
}
